
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*ScSS Variables*/

/* Global font-face declarations*/
  @font-face {
    font-family: 'Career';
    src: url('./fonts/Career.otf') format('opentype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Mona Sans Italics';
    src: url('./fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Mona Sans';
    src: url('./fonts/MonaSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: "Gangster Grotesk";
  src: url("./fonts/GangsterGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gangster Grotesk";
  src: url("./fonts/GangsterGrotesk-Regular.woff2") format("woff2");
  font-weight: 400; /* regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gangster Grotesk";
  src: url("./fonts/GangsterGrotesk-Bold.woff2") format("woff2");
  font-weight: 700; /* bold */
  font-style: normal;
  font-display: swap;
}

/* Global font-face declarations*/

/* Sass Color Variables*/
$Charcoal: #2E4052;
$Fawn: #F2E5D7;
$Clover: #C6D8AF;
$Heartwood: #C97D60;
$Collard-Green: #648767;
$Isabelline: #FAF5F0;
$Chestnut: #98473E;
$Indigo-Dye: #134D67;
/* Sass Color Variables*/

:root{
  --Charcoal: #{$Charcoal};
  --Fawn: #{$Fawn};
  --Clover: #{$Clover};
  --Heartwood: #{$Heartwood};
  --Collard-Green: #{$Collard-Green};
  --Isabelline: #{$Isabelline};
  --Chestnut: #{$Chestnut};
  --Indigo-Dye: #{$Indigo-Dye};
}

$sfd__title-font: "Career";
$l212__title-font: "GangsterGrotesk";
$body__font: "Mona Sans";
$title__size: 80px;
$body__size: 30px;

.sfd__title {
  font-family: $sfd__title-font;
  font-size: $title__size;
  line-height: 1.2;
  font-weight: 400;
  color: var(--title);
  margin-bottom: 20px;
}

.l212__title{
  font-family: $l212__title-font;
  font-size: $title__size;
  line-height: 1.2;
  font-weight: 400;
  color: var(--title);
}

.body__font{
  font-family: $body__font;
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color);

}

/*BASE CLASSES*/

.section__container{
  @apply flex flex-col w-full gap-y-1;
}
h1{
  
}
h2{
  font-family: 'Career', sans-serif;
  @apply text-5xl mb-2 text-left w-full;
  transition: transform 1.4s ease;

}
%h3{

}
a {
text-decoration: none;
&:hover{
  text-decoration: none;
}
}
p {

}
img{
  max-width: 100%;
  height: auto;
}

.card {
  @apply p-8;
}

.section__container:hover .divider{
  width: 100%;
  opacity: 1;
}

.section__container:hover .divider::after{
  opacity: 1;
}

.section__container:hover .sectiontion__container--text{
  opacity: 1;
  transform: translateY(-95px)
}

.section__container:hover .brand__subtitle{
  transform: translateX(830px);
}

.section__container--text{
  text-align: left;
  opacity: 0;
  transform: translateY(0px);
  transition: transform 1.4s ease, opacity 1s ease-in-out;
  z-index: 1;
  width: 450px;
}

.header__wrapper-2col{
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 650px;
  align-items: start;
  gap: 10px;
}

.header__leftcol .header__right{
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 350px;
  width: 350px;
  align-items: end;
}

.header__text{
  font-size: 60px;
  line-height: 1;
}

.text_description{ 
  font-family: "Mona Sans";
  font-weight: 500;
  line-height: 1.4;
  font-size: 19px;
  text-align: left;
  color: var(--body-color)
}

/* TEXT STYLING*/
  a {
    font-weight: 500;
    font-family: $body__font;
    color: $Charcoal;
    text-decoration: inherit;
  }

  a:hover {
    color: $Charcoal;
    text-decoration: underline;
    text-decoration-color: $Charcoal;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
/* TEXT STYLING*/
