@use '../base/_base' as *; 


/* When extending button tag, don't use dots or %*/
button {
  border-radius: 20px;
  border: 2px solid transparent;
  border-color: $Fawn;
  color: $Fawn;
  padding: 0.6em 1.2em;
  font-size: 19px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  opacity: 0.8;
  margin-right: 20px;
  height: 45px; 
  width: auto;
  padding: 5px 40px;
  align-items: center;
  text-decoration: none;
}

button:hover{
  text-decoration: none;
}

.small-button {
  @apply flex rounded-full p-2 h-[40px] w-[60px] justify-center items-center;
}

button:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-color: transparent;
}

button:focus,
button:focus-visible {
  opacity: 1;
  text-decoration: none;
}

.home__btn {
  @extend button;
  opacity: 1;
}

.home-btn-container {
  @apply flex gap-8 mt-10;
}  

.home__btn:hover{
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: 0.3s ease-in-out;
}

.carousel__btns {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important; /* or 0 if you want squares */
  background-color: var(--Light) !important;
  transition: background-color 0.3s ease !important;
  transform: scale(-40%);
}

.nav__btn-small {
  @extend .small-button;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

.nav__btn-small:hover {
  background-color: #E1D5C8;
  opacity: 1;
}

.nav__btn-small {
  @apply flex rounded-full p-2 h-[40px] w-[60px] justify-center items-center;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

.nav__btn-small {
  @apply flex rounded-full p-2 h-[40px] w-[60px] justify-center items-center;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    background-color: #E1D5C8;
    opacity: 1;

    .social-icon {
      transform: scale(1.2);
    }
  }
}


/*CONTACT FORM PAGE*/
.sm__container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 20px;

  a, a:hover{
    text-decoration: none;
  }
}

.sm__container-ig {
  display: flex;
  flex-direction: row;
  background-color: var(--button);
  color: var(--sfd-button-text);
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 180px;
}

.sm__container-yt{
  display: flex;
  flex-direction: row;
  background-color: var(--button);
  color: var(--sfd-button-text);
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 280px;
}

.sm__container-ig img{
  width: 32px;
  height: 50px;
}


.sm__container-yt img {
  width: 45px;
  height: 50px;
}
/*CONTACT FORM PAGE*/


