@use '../base/_base' as *;
@use '../theme/_themes.scss' as *;

.flipcard__wrapper {
  width: 475px;
  height: 580px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}

.flipcard__wrapper.flipcard__180 {
  transform: rotateY(180deg);
}

.flipcard__perspective {
  perspective: 1000px;
}

.backface__hidden {
  backface-visibility: hidden;
}
.flipcard__180 {
  transform: rotateY(180deg);
}

.flipcard__front{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
}

.flipcard__wrapper:not(.flipcard__180):hover .flipcard__front img {
  transform: scale(1.05);
}

.flipcard__back{
  width: 100%;
  height: 100%;
  text-align: left;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  transform: rotateY(180deg);
  padding: 25px;
  display: flex;
  flex-direction: column;

  &-title{
    font-family: $sfd__title-font;
    color: var(--color);
    font-size: 30px;
    text-transform: uppercase;
  }

  &-body{
    font-family: $body__font;
    color: var(--color);
    font-size: 18px;
    line-height: 1.2;
  }

  a{
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.flipcard__btn{
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  background-color: var(--color);
  color: var(--sfd-button-text);
  top: 15px;
  right: 20px;
  transition: transform 0.5s ease;
}

.flipcard__wrapper:hover .flipcard__btn{
  transform: scale(1.1);
}
