@use '../base/_base' as *;

#l212__nbd-menu-wrapper{
  width: 100%;
  height: 650px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: var(--l212-background);
} 

.map__wrapper{
  width: 500px;
  text-align: left;
  height: 90vh;
}

.map__wrapper img{
  height: 650px;
  width: 100%;
  object-fit: cover;
}

.menu__nav-l212{
  position:relative;
  background-color:var(--l212-menu-nav);
  width: 4px;
  margin-left: 10px;
  height: 650px;
  justify-content: start;
  z-index: 1000;
}

.menu__dot-l212{
  position: absolute;
  transform: translateX(-6px);
  background-color: var(--l212-text);
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.menu__container{
  display: flex;
  flex-direction: row;
  width: 900px;
}

.menu__items-wrapper{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 60px;
  color: var(--l212-text);
}


.menu__items a {
  font-family: $body__font;
  font-weight: 600;
  font-size: 34px;
  text-align: left;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  gap:10px;
  margin-bottom: 55px;
  padding-left: 20px;
  color: var(--l212-text);
  text-decoration: none;
}

.menu__arrow{
  width: 30px;
  height: auto;
}

.menu__items a:hover{
  color: var(--l212-text);
}

.menu__imgwrapper-l212{
  position: relative;
  display: flex;
  height: 650px;
  width: 500px;
}

.menu__imgwrapper-l212 img{
  position: absolute;
  height: 900px;
  object-fit: cover;
  object-position: center;

}

.menu__title-l212{
  position: absolute;
  z-index: 50;
  justify-content: end;
  align-items: end;
  opacity: 100%;
}

.menu__title-l212 p{
  font-family: "Mona Sans";
  font-weight: 700;
  font-size: 120px;
  white-space: normal;
  overflow-wrap: break-word;
  color: var(--Isabelline);
  line-height: 0.9;
  text-transform: uppercase;
  text-align: right;
  text-shadow: 1px -1px 6px rgba(0, 0, 0, 0.3);
}

