@use '../base/_base' as *;

//text color will change in the state folder. standard transparent bg throughout website.
.navbar__wrapper {
    width: 100%;
    position: sticky;
    top: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 40px;
    z-index: 1000;   
    justify-content: flex-start; 
    align-items: center;
}

.navbar__logo-wrapper {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 5px;
}

#navbar__logo {
  background-color: transparent; 
  color: $Fawn; // won't add color once we have logo svg            
  display: flex;                      
  flex-direction: row;               
  width: 25px;                       
  height: 5px;                      
  align-items: center;              
  justify-content: center;            
  text-decoration: none;
  font-family: $sfd__title-font;
  font-size: 28px;
  opacity: 0.8;                       
  transition: all 0.5s ease-out;
}

#navbar__logo:hover {
  opacity: 1;
  transform: scale(1.9); 
  font-size: 14px;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.navbar__links a{
  font-family: $body__font;
  color: $Fawn;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.navbar__links a:hover{
    text-decoration: underline;
    color: $Fawn;
}



.navbar__btn-ig,
.navbar__btn-yt {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar__btn-ig {
  width: 30px;
  height: 30px;
}

.navbar__btn-yt {
  width: 40px;
  height: 30px;
}

.navbar__btn-ig:hover,
.navbar__btn-yt:hover {
  opacity: 1;
  transform: scale(1.08);
}
