@use '../base/_base' as *;

/*It's just a dog right now*/
.landing__container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/images/remington.JPG");
}