@use '../base/_base' as *;

/*General Page Layout*/
.page__container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* items-start */
  justify-content: center;
  padding: 3rem; /* p-12 → 3rem */
}

.page__container-column {
  @apply min-h-screen w-full flex flex-col;
}

.page__container-row {
  @apply h-screen w-full flex flex-row;
}

.footer__subtitle {
  font-family: 'Career', sans-serif;
  @apply mb-2;
}

/*General Page Layout*/

#l212-nbd-menu-wrapper{
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  background-image: url("/images/l212/nbd-menu-grain.png");
}
