@use '../base/_base' as *;
@use '../module/_buttons' as *;
@use '../module/_contactform' as *;
@use '../module/navbar' as *;


$light__bg: $Fawn;
$light__text: $Charcoal;

body{
  background-color: $light__bg;
  color: $light__text;
}

.sfd__title-light{
  @extend %sfd__title;
  color: $Charcoal;
}

.l212__title-light{
  @extend %l212__title;
  color: $Indigo-Dye;
}

.body__font-light{
  @extend %body__font;
  color: $Charcoal;
}

/*SaSS Button Light Color Mode*/
.sfd__button-light {
  @extend button;
  color: $Fawn;
}

.l212__button-light {
  @extend button;
  color: $Isabelline;
}
/*SaSS Button Light Color Mode*/

/* TEXT STYLING*/
  a {
    font-weight: 500;
    font-family: $body__font;
    color: $Charcoal;
    text-decoration: inherit;
  }

  a:hover {
    color: $Charcoal;
    text-decoration: underline;
    text-decoration-color: $Charcoal;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
/* TEXT STYLING*/

/*Navbar light color mode*/
 
$nav__light-home: $Fawn; // call on this in the navbar states for home light mode text

$nav__light-default: $Fawn;