$themes: (
    light: (
        background: #ffffff,
        text: #000000,
        primary: #1E90FF,
        secondary: #FF69B4,
        accent: #32CD32,
        border: #E0E0E0,
        hover: #F0F0F0,
        Charcoal: #333333
    ),
    dark: (
        background: #121212,
        text: #ffffff,
        primary: #BB86FC,
        secondary: #03DAC6,
        accent: #CF6679,
        border: #272727,
        hover: #1F1F1F,
        Charcoal: #333333
    )
    );