
/*SFD title style */
$sfd__title-font: 'Career', system-ui, Avenir, Helvetica, Arial, sans-serif;
$sfd__title-size: 80px;

.sfd__title-light .sfd__title-dark  {
  font-family: $sfd__title-font;
  font-size: $sfd__title-size;
  line-height: 1.2;
  font-weight: 400;
}
/*SFD title style */

/* SFD title style light */
.sfd__title-dark {
  color: var(--Charcoal); 
}
/* SFD title style light */

/* SFD title style dark */
.sfd__title-dark {
  color: var(--Fawn); 
}
/*SFD title style dark*/

/*LINK212 TITLE STYLE */
$l212__title-font: 'GangsterGrotesk-Bold', system-ui, Avenir, Helvetica, Arial, sans-serif;
$l212__title-size: 80px;

.l212__title-light .l212__title-dark{
  font-family: $l212-title-font;
  font-size: $l212-title-size;
  line-height: 1.2;
  font-weight: 400;
}
/*LINK212 TITLE STYLE */

/*LINK212 TITLE STYLE LIGHT */
.l212__title-light{
  color: var(--Indigo-Dye);
}
/*LINK212 TITLE STYLE LIGHT */

/*LINK212 TITLE STYLE DARK */
.l212__title-dark{
  color: var(--Fawn);
}
/*LINK212 TITLE STYLE DARK */

/* LIGHT MODE*/
$sfd__light-mode: #F2E5D7;
$l212__light-mode: #FAF5F0;

.sfd__light-mode{
  background-color: $sfd__light-mode;
  color: var(--Charcoal)
}

.l212__light-mode{
  background-color: $l212__light-mode;
  color: var(--Charcoal);
}
/* LIGHT MODE*/

/* DARK MODE */
$sfd__dark-mode: #2E4052;
$l212__dark-mode: #98473E;

.sfd__dark-mode{
  background-color: $sfd__dark-mode;
  color: var(--Fawn);
}

l212__dark-mode{
  background-color: $l212__dark-mode;
  color: var(--Isabelline);
}
/* DARK MODE */




