@use '../base/_base' as *;
@use '../module/_contactform' as *;


.form__wrapper-general{
  @extend .form__wrapper;
  background-color: $Charcoal;
}

.form__wrapper-project{
  @extend .form__wrapper;
  background-color:#E1D5C8;
}

.form__wrapper-l212{
  @extend .form__wrapper;
  background-color: $Collard-Green;
}

.form__input-general .form__input-l212{
  @extend .form__input;
  color: $Fawn;
  border-bottom: 1.4px solid $Fawn;
}

.form__input-project{
  @extend .form__input;
  color: $Charcoal;
  border-bottom: 1.4px solid $Charcoal;
}

.form__wrapper-ty-general{
  @extend .form__wrapper-ty;
  background-color: $Charcoal;
  color: $Fawn;
}

.form__wrapper-ty-project{
  @extend .form__wrapper-ty;
  background-color:#E1D5C8;
  color: $Charcoal;
}

.form__wrapper-ty-l212{
  @extend .form__wrapper-ty;
  background-color: $Collard-Green;
  color: $Fawn;
}


