@use '../base/_base' as *;
@use '../module/_contactform' as *;


.form__wrapper-general{
  @extend .form__wrapper;
  background-color: var(--contactGeneral-background);
  color: var(--contactGeneral-text);
}

.form__wrapper-project{
  @extend .form__wrapper;
  background-color: var(--contactProject-background);
  color: var(--contactProject-text);
}

.form__wrapper-l212{
  @extend .form__wrapper;
  background-color: var(--contactL212-background);
  color: var(--contactL212-text);
}

.tab__button-general{
  @extend .tab__button;
  background-color: var(--contactGeneral-background);
  color: var(--contactGeneral-text);
  opacity: 70%;

  &.active{
    opacity: 100%;
  }
  }

.tab__button-project{
  @extend .tab__button;
  background-color: var(--contactProject-background);
  color: var(--contactProject-text);
  }

.tab__button-l212{
  @extend .tab__button;
  background-color: var(--contactL212-background);
  color: var(--contactL212-text);
}

.form__input{
  padding: 0;
  margin: 0 20px;
  font-size: 23px;
  font-weight: 500;
  line-height: 2.5;
  display: block;

  &-general{
  background-color: transparent;
  color: var(--contactGeneral-text);
  border: none;
  border-bottom: 2px solid var(--contactGeneral-text);
  font-family: $body__font;
  font-size: 18px;
  }

  &-l212{
  background-color: transparent;
  color:var(contactL212-text);
  border: none;
  border-bottom: 2px solid var(--contactL212-text);
  font-family: $body__font;
  font-size: 18px;
  font-weight: 500;
  }

  &-project{
  background-color: transparent;
  color: var(--contactGeneral-text);
  border: none;
  border-bottom: 2px solid var(--contactGeneral-text);
  font-family: $body__font;
  font-size: 18px;
  }
}

.form__wrapper-ty-general{
  @extend .form__wrapper-ty;
  background-color: transparent;
}

.form__wrapper-ty-project{
  @extend .form__wrapper-ty;
  background-color: transparent;
}

.form__wrapper-ty-l212{
  @extend .form__wrapper-ty;
  background-color: transparent;
}


