@tailwind base;
@tailwind components;
@tailwind utilities;

/*Style guide sort of thing*/



/* Global reset */
* {
  @apply box-border m-0 p-0;
}

#root {
  /* Default text size is 16pt. Is that too big or am I just blind? */
  @apply text-center min-h-screen w-full text-base;
  font-family: "Mono Sans Variable" -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--Light);
  color: var(--Charcoal);
  

}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #F2E5D7;
  background-color: #2E4052;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --Charcoal: #2E4052;
  --Light: #F2E5D7;
  --Highlight: #C6D8AF;
  --Accent: #C97D60;
  --Mint-Green: #648767;
  --Isabelline: #FAF5F0;
  --Chestnut: #98473E;
  --Indigo-Dye: #134D67;
  --Base: #648767;
   




}

a {
  font-weight: 500;
  font-family: 'Mona Sans';
  color: var(--Charcoal);
  text-decoration: inherit;
}

a:hover {
  color: var(--Charcoal);
  text-decoration: underline;
  text-decoration-color: var(--Light);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  opacity: 0.5;
}

button:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

button:focus,
button:focus-visible {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--Base);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--Light);
  }

  a:hover {
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'GangsterGrotesk-Bold';
  src: url('./fonts/GangsterGrotesk-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GangsterGrotesk-Regular';
  src: url('./fonts/GangsterGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GangsterGrotesk-Light';
  src: url('./fonts/GangsterGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Italics';
  src: url('./fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Variable';
  src: url('./fonts/MonaSans-VariableFont_wdth,wght.ttf') format('trueetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Career';
  src: url('./fonts/Career.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;

}

.Career {
  font-family: 'Career', sans-serif;
}

/* Icon definitions: */

.light-youtube {
  color: #FF0000;
}
.dark-youtube {
  color: #FF0000;
  filter: brightness(0.8);
}
.light-instagram {
  color: #C13584;
}
.dark-instagram {
  color: #C13584;
}
.light-linkedin {
  color: #0A66C2;
}
.dark-linkedin {
  color: #0A66C2;
  filter: brightness(0.8);
}
.light-email {
  color: #D44638;
}
.dark-email {
  color: #D44638;
  filter: brightness(0.8);
}