@import "tailwindcss";
/*Style guide sort of thing*/

@tailwind utilities;

/* Global reset */
* {
  @apply box-border m-0 p-0;
}

#root {
  /* Default text size is 16pt. Is that too big or am I just blind? */
  @apply text-center min-h-screen w-full text-base;
  font-family: "Mono Sans Variable" -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--text-light);
  color: var(--text-dark);
  

}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-dark: #2E4052;
  --text-light: #F2E5D7;
  --green-highlight: #C6D8AF;
  --orange-accent: #C97D60;
  --green-base: #648767;




}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--text-light);
}

body {
  margin: 0;
  display: flex;
  place-items: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'GangsterGrotesk-Bold';
  src: url('./fonts/GangsterGrotesk-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GangsterGrotesk-Regular';
  src: url('./fonts/GangsterGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GangsterGrotesk-Light';
  src: url('./fonts/GangsterGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Italics';
  src: url('./fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Variable';
  src: url('./fonts/MonaSans-VariableFont_wdth,wght.ttf') format('trueetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Career';
  src: url('./fonts/Career.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;

}